html {
  font-size: 100%;
} /*16px*/

body {
  font-weight: 400;
  line-height: 1.75;
  font-weight: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: 'STIX Two Math', Georgia, 'Times New Roman', Times, serif;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  font-family: 'STIX Two Math', Georgia, 'Times New Roman', Times, serif;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.ss {
  font-family: 'IBM Plex Mono', monospace;
}

.cs {
  font-family: 'STIX Two Math', serif;
}
