/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;700&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color Theme Swatches in Hex */
.white {
  color: #fff;
}

.yellow {
  color: #f4b942;
}

.green {
  color: #97d8c4;
}

.blue {
  color: #6b9ac4;
}

.orange {
  color: #fe5f55;
}

.purple {
  color: #6a66a3;
}

.dark {
  color: #0f1014;
}

.light {
  color: #efefef;
}

.bg-yellow {
  background-color: #f4b942;
}

.bg-green {
  background-color: #97d8c4;
}

.bg-blue {
  background-color: #6b9ac4;
}

.bg-orange {
  background-color: #fe5f55;
}

.bg-purple {
  background-color: #6a66a3;
}

.bg-dark {
  background-color: #0f1014;
}

.bg-light {
  background-color: #efefef;
}

.rounded-button,
.button {
  padding: 1rem 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.8rem;
  background-color: #fff;
  letter-spacing: 0.05rem;
}

.rounded-button {
  border: none;
  border-radius: 3rem;
}

.rounded-button:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.button {
  border: none;
}

.button:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

/* Color Theme Swatches in Hex */
.white {
  color: #fff;
}

.yellow {
  color: #f4b942;
}

.green {
  color: #97d8c4;
}

.blue {
  color: #6b9ac4;
}

.orange {
  color: #fe5f55;
}

.purple {
  color: #6a66a3;
}

.dark {
  color: #0f1014;
}

.light {
  color: #efefef;
}

.bg-yellow {
  background-color: #f4b942;
}

.bg-green {
  background-color: #97d8c4;
}

.bg-blue {
  background-color: #6b9ac4;
}

.bg-orange {
  background-color: #fe5f55;
}

.bg-purple {
  background-color: #6a66a3;
}

.bg-dark {
  background-color: #0f1014;
}

.bg-light {
  background-color: #efefef;
}

.container {
  max-width: 1127px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container--fluid {
  margin: 0;
  max-width: 100%;
}

.cols-1 {
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
}

.cols-2 {
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
}

.cols-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.cols-4 {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
}

.cols-5 {
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
}

.cols-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.cols-7 {
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%;
}

.cols-8 {
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
}

.cols-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}

.cols-10 {
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
}

.cols-11 {
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
}

.cols-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

[class^='cols-'] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 1px;
}

@media screen and (max-width: 722px) {
  .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.row::after,
.row::before {
  content: '';
  display: table;
  clear: both;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.v-center {
  align-items: center;
}

.square {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
}

.bg-test {
  background-color: darkseagreen;
  outline: 1px solid darkcyan;
}

.shadow-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-1-hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-1-hover:hover {
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15),
    0 10px 10px rgba(0, 0, 0, 0.11);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.shadow-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-2-hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-2-hover:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.shadow-1-hover,
.shadow-2-hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Color Theme Swatches in Hex */
.white {
  color: #fff;
}

.yellow {
  color: #f4b942;
}

.green {
  color: #97d8c4;
}

.blue {
  color: #6b9ac4;
}

.orange {
  color: #fe5f55;
}

.purple {
  color: #6a66a3;
}

.dark {
  color: #0f1014;
}

.light {
  color: #efefef;
}

.bg-yellow {
  background-color: #f4b942;
}

.bg-green {
  background-color: #97d8c4;
}

.bg-blue {
  background-color: #6b9ac4;
}

.bg-orange {
  background-color: #fe5f55;
}

.bg-purple {
  background-color: #6a66a3;
}

.bg-dark {
  background-color: #0f1014;
}

.bg-light {
  background-color: #efefef;
}

html {
  font-size: 100%;
}

body {
  background: white;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #0f1014;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0 1.38rem;
  font-family: 'PT Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

.message {
  padding: 2rem;
}

.message h4 {
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

.border-1 {
  border-radius: 3px;
}

.border-2 {
  border-radius: 6px;
}

.border-3 {
  border-radius: 9px;
}

html {
  font-size: 100%;
}

body {
  background: white;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #0f1014;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0 1.38rem;
  font-family: 'PT Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 2.25rem;
}

.pt-4 {
  padding-top: 3rem;
}

.pt-5 {
  padding-top: 3.75rem;
}

.pt-6 {
  padding-top: 4.5rem;
}

.pt-7 {
  padding-top: 5.25rem;
}

.pt-8 {
  padding-top: 6rem;
}

.pt-9 {
  padding-top: 6.75rem;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 2.25rem;
}

.pb-4 {
  padding-bottom: 3rem;
}

.pb-5 {
  padding-bottom: 3.75rem;
}

.pb-6 {
  padding-bottom: 4.5rem;
}

.pb-7 {
  padding-bottom: 5.25rem;
}

.pb-8 {
  padding-bottom: 6rem;
}

.pb-9 {
  padding-bottom: 6.75rem;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 2.25rem;
}

.pl-4 {
  padding-left: 3rem;
}

.pl-5 {
  padding-left: 3.75rem;
}

.pl-6 {
  padding-left: 4.5rem;
}

.pl-7 {
  padding-left: 5.25rem;
}

.pl-8 {
  padding-left: 6rem;
}

.pl-9 {
  padding-left: 6.75rem;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 2.25rem;
}

.pr-4 {
  padding-right: 3rem;
}

.pr-5 {
  padding-right: 3.75rem;
}

.pr-6 {
  padding-right: 4.5rem;
}

.pr-7 {
  padding-right: 5.25rem;
}

.pr-8 {
  padding-right: 6rem;
}

.pr-9 {
  padding-right: 6.75rem;
}

.py-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-3 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.py-4 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-5 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-7 {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.py-8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-9 {
  padding-top: 6.75rem;
  padding-bottom: 6.75rem;
}

.px-1 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.px-2 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.px-3 {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.px-4 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.px-5 {
  padding-right: 3.75rem;
  padding-left: 3.75rem;
}

.px-6 {
  padding-right: 4.5rem;
  padding-left: 4.5rem;
}

.px-7 {
  padding-right: 5.25rem;
  padding-left: 5.25rem;
}

.px-8 {
  padding-right: 6rem;
  padding-left: 6rem;
}

.px-9 {
  padding-right: 6.75rem;
  padding-left: 6.75rem;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2.25rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 3.75rem;
}

.p-6 {
  padding: 4.5rem;
}

.p-7 {
  padding: 5.25rem;
}

.p-8 {
  padding: 6rem;
}

.p-9 {
  padding: 6.75rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2.25rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 3.75rem;
}

.mt-6 {
  margin-top: 4.5rem;
}

.mt-7 {
  margin-top: 5.25rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mt-9 {
  margin-top: 6.75rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 2.25rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 3.75rem;
}

.mb-6 {
  margin-bottom: 4.5rem;
}

.mb-7 {
  margin-bottom: 5.25rem;
}

.mb-8 {
  margin-bottom: 6rem;
}

.mb-9 {
  margin-bottom: 6.75rem;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 2.25rem;
}

.ml-4 {
  margin-left: 3rem;
}

.ml-5 {
  margin-left: 3.75rem;
}

.ml-6 {
  margin-left: 4.5rem;
}

.ml-7 {
  margin-left: 5.25rem;
}

.ml-8 {
  margin-left: 6rem;
}

.ml-9 {
  margin-left: 6.75rem;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 2.25rem;
}

.mr-4 {
  margin-right: 3rem;
}

.mr-5 {
  margin-right: 3.75rem;
}

.mr-6 {
  margin-right: 4.5rem;
}

.mr-7 {
  margin-right: 5.25rem;
}

.mr-8 {
  margin-right: 6rem;
}

.mr-9 {
  margin-right: 6.75rem;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2.25rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 3.75rem;
}

.m-6 {
  margin: 4.5rem;
}

.m-7 {
  margin: 5.25rem;
}

.m-8 {
  margin: 6rem;
}

.m-9 {
  margin: 6.75rem;
}

.mx-1 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-3 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.mx-4 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-5 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.mx-6 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.mx-7 {
  margin-left: 5.25rem;
  margin-right: 5.25rem;
}

.mx-8 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.mx-9 {
  margin-left: 6.75rem;
  margin-right: 6.75rem;
}

.my-1 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-3 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.my-4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-5 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.my-6 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.my-7 {
  margin-top: 5.25rem;
  margin-bottom: 5.25rem;
}

.my-8 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-9 {
  margin-top: 6.75rem;
  margin-bottom: 6.75rem;
}

/* Color Theme Swatches in Hex */
.white {
  color: #fff;
}

.yellow {
  color: #f4b942;
}

.green {
  color: #97d8c4;
}

.blue {
  color: #6b9ac4;
}

.orange {
  color: #fe5f55;
}

.purple {
  color: #6a66a3;
}

.dark {
  color: #0f1014;
}

.light {
  color: #efefef;
}

.bg-yellow {
  background-color: #f4b942;
}

.bg-green {
  background-color: #97d8c4;
}

.bg-blue {
  background-color: #6b9ac4;
}

.bg-orange {
  background-color: #fe5f55;
}

.bg-purple {
  background-color: #6a66a3;
}

.bg-dark {
  background-color: #0f1014;
}

.bg-light {
  background-color: #efefef;
}

html {
  font-size: 100%;
}

body {
  background: white;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #0f1014;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0 1.38rem;
  font-family: 'PT Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

input,
textarea {
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid #a1a69c;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 1px solid #343a40;
  border-radius: 0;
  outline: none;
}

.field {
  margin: 0.75rem 0;
}

.field label {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.field input {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.checkbox,
.radio {
  font-weight: 400 !important;
}

input[type='text'],
input[type='email'],
input[type='file'],
input[type='number'],
input[type='password'],
input[type='url'],
textarea {
  width: 100%;
}

select {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

select option {
  font-size: 1.1rem;
  padding: 0.5rem;
}

textarea {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  padding: 0.5rem;
  resize: vertical;
  min-width: 200px;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */
img {
  display: inline-block;
  width: 100%;
}
.divider {
  display: block;
  width: 100%;
}
.divider span {
  display: block;
  width: 100px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.center {
  text-align: center;
  margin: 0 auto;
}
/* html */
.jumbo,
.message,
.quality,
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jumbo {
  min-height: 70vh;
}
.jumbo-bg {
  background: url('../img/bg.jpg') center center no-repeat;
  background-size: cover;
}
.message {
  min-height: 30vh;
}
.quality {
  min-height: 30vh;
}
.gallery-content {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-content .cell {
  flex: 0 0 32%;
}
.gallery-content .cell img {
  vertical-align: bottom;
  transition: 0.3s;
}
.gallery-content .cell img:hover {
  filter: sepia(100%);
  cursor: pointer;
}

ul {
  text-align: right;
}
ul li {
  display: inline-block;
}
ul li a {
  padding: 0.5rem 1rem;
}

a {
  color: #fe5f55;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.caption {
  font-size: 0.7rem;
  opacity: 0.8;
  font-weight: 700;
}
